body{
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
/* header */

#home{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15%;
    align-items: center;
    
}

#nav-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 48px;
}
#anchor{
    text-decoration: none;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #434343;
}
#connect{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    border: none;
}
/* rent a place */

#container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
margin-left: 7%;
align-items: center;
gap: 20px;
}
#container-text{
width: 40%;

}
#container-text > h1{
    width: 100%;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    letter-spacing: -0.02em;
    color: #434343
}
#purple{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: -0.02em;
    background: linear-gradient(180deg, #A02279 79.31%, rgba(255, 192, 137, 0.6) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
#para{
    width: 100%;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #434343;
}
#container-img{
    width: auto;
    height: 459px;
    margin-top:10% ;
}

/* input */
#input-el{
    width: 100%;
    max-width: 140%;
    height: 54.08px;
    /* margin-bottom: 200px; */
    
}
#in{
    width: 40%;
    height: 50px;
    border: none;
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    
}
#s-btn{
    width: 40%;
    height: 54px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    border: none;
    
}
/* coin label and NFTs*/

#nfts{
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 100%;
}
#nft-home{
    text-align: center;
    width:100%;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    /* gap: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #000000;
}
#footer1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 4%;
}
/*  */

#nft-img{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    gap: 24px;
    width: 95%;
}

/*  Metabnb*/
#learn-more{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 99.89%;
    height: 100%; 
    flex-wrap: wrap;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border: 1px solid #000000;
    border: none;
    margin-top: 4%;

}
   

#lm-text{
    width: 30%;
    line-height: 30px;
    align-self: center;
   margin-left: 7%;
    height: 259px;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

#lm-text > h1{
margin-bottom: 13%;
}
#lm-text > p{
    margin-bottom: 13%;
    }
#nf{
    width: 60%; 
    height: auto;
    margin: auto;
}

/* footer */
#footer-home{
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 322px;
    background:  #1D1D1E;
    color: #fff;
    
}
#f-txts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* gap: 150px; */
    width: 45%;
    height: 169px;
}
#f-txts > div{
    width: 100%;
}
#rows{
    display: flex;
    flex-direction: column;
}
#fbk{
    width: 8%;
    /* height: 2%; */
}
#column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#logs{
    width: 20%;
    height: 13%;
    box-shadow: inset 4px 4px 44px rgba(96, 96, 96, 0);
}


/* responsiveness */

@media screen and (max-width:600px){
    body{
        overflow-x: hidden;
        padding: 0px;
    }
    #learn-more{
        display: flex;
        flex-direction: column;
    
    }
    #nf{
        width: 90%; 
        height: auto;
    }
    #lm-text{
        width: 100%;
        line-height: 60px;
        height: auto;
        padding: 5px;
        /* text-align: center; */
        /* align-self: center; */
    }
    #para{
        font-size: 24px;
    }
    
    #container-text{
        width: 100%;
        
        }
        #container{
            display: flex;
            justify-content: center;
        }
        #container-text > h1{
            width: 100%;
            font-size: 40px;
            }
            #purple{
                font-size: 40px;
            }
        #f-txts{
            display: flex;
            flex-direction: column;
            width: 45%;
            height: auto;
        }
        #footer-home{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 600px;
            padding: 10px;
        }
        #home{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20%;
            align-items: center;
            
        }
        #footer1{
            display: flex;
            gap: 15px;
        }
        #nft-home {
           font-size: 20px;
        }
       #home > img{
        margin-bottom: 10%;
       }
       #nft-img > img{
        margin-bottom: 10%;
        height: auto;
        width: 100%;
       }
       #nav-head{
        margin-bottom: 10%;
        gap: 25px;

       }
}